openapi: 3.2.0
info:
  title: FXRates Currencies API
  description: FXRatesAPI is a foreign exchange rates REST API serving real-time and historical currency exchange rates for 185+ fiat currencies plus major cryptocurrencies and precious metals.
  version: '1.0'
  contact:
    name: FXRatesAPI
    url: https://fxratesapi.com
  termsOfService: https://fxratesapi.com/legal/terms-conditions
servers:
- url: https://api.fxratesapi.com
  description: FXRatesAPI production
security:
- {}
- apiKeyQuery: []
- bearerAuth: []
tags:
- name: Currencies
  description: List of supported currencies and their metadata.
paths:
  /currencies:
    get:
      operationId: listCurrencies
      tags:
      - Currencies
      summary: List supported currencies
      description: Returns an object keyed by currency code, each value describing the currency's code, name, plural name, symbol, native symbol, decimal digits, and rounding. Confirmed live returning 185 entries.
      responses:
        '200':
          description: Map of supported currencies.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Currency'
components:
  schemas:
    Currency:
      type: object
      description: Modeled from the observed /currencies JSON payload.
      properties:
        code:
          type: string
          example: EUR
        name:
          type: string
          example: Euro
        decimal_digits:
          type: integer
          example: 2
        name_plural:
          type: string
          example: euros
        rounding:
          type: number
          example: 0
        symbol:
          type: string
          example: €
        symbol_native:
          type: string
          example: €
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key passed as the api_key query parameter.
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as an Authorization: Bearer <API_KEY> header.'
